.header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #ccc;
  position: relative;
}
.header p {
  text-align: center;
}
.header img {
  position: absolute;
  top: 8px;
  right: 10px;
}
