.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header h3 {
  margin: 0;
  padding: 0;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  background-color: #3dd689;
  position: relative;
}
.header h3 i {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 25px;
  height: 25px;
  transform: translateY(-50%);
  background: url('../../../assets/add.png') no-repeat;
  background-size: cover;
}
